display-circle-brand + display-circle-product {
  margin-top: -48px;
}

display-circle-product {
  display: inline-block;
  position: relative;
  width: 100%;
}

.displayCircleProduct {
  background-color: var(--COLOR-SNOW-LIGHTER);
  padding: 24px 0 0 0;
}

@media (min-width: 768px) {
  .displayCircleProduct {
    padding-bottom: 12px;
  }
}
