<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<body>
  <noscript>You have to load the page with JavaScript disabled to see this message.</noscript>
  <!-- Pixel APP here -->
  
  <cea-floater 
    data-floater-name="whatsappPromo1"
    data-icon="https://cea.vteximg.com.br/arquivos/icon-wpp-floater.5ab2d0b26592718fc4a9334711ee4354.png"
    data-text="Quer uma ajuda para comprar via whatsapp?" 
    data-days-expires-cookie="0.1"
    data-url-button="enviar mensagem|https://wa.me/551135852892"
    data-desktop-image-url="https://cea.vteximg.com.br/arquivos/bg-floater-whatsapp-desk.f584777d96c8c74b323fdf2c682353.png"
    data-mobile-image-url="https://cea.vteximg.com.br/arquivos/bg-floater-whatsapp-mobile.1e25ab4ef8008df8ceffffc99e31ac05.png"
    data-color-transform="inverse"
    data-floater-align="left">
  </cea-floater> 

  <cea-floater 
    data-floater-name="whatsappPromo2"
    data-icon=""
    data-text="" 
    data-days-expires-cookie="0.1"
    data-url="http://www.cea.com.br"
    data-url-button=""
    data-desktop-image-url="https://cea.vteximg.com.br/arquivos/floater-whatsapp-promo-desktop.png"
    data-mobile-image-url="https://cea.vteximg.com.br/arquivos/floater-whatsapp-promo-mboile.png"
    data-color-transform=""
    data-floater-align="center">
  </cea-floater>

  <cea-floater 
    data-floater-name="whatsappPromo3"
    data-icon="https://cea.vteximg.com.br/arquivos/whatsapp-icon-promo.png"
    data-text="compre por Whatsapp e ganhe 10% OFF + frete grátis em compras acima R$150" 
    data-days-expires-cookie="0.1"
    data-url="http://www.google.com"
    data-url-button="enviar mensagem|https://wa.me/551135852892"
    data-desktop-image-url="https://cea.vteximg.com.br/arquivos/floater-whatsapp-sem-texto-desktop.png"
    data-mobile-image-url="https://cea.vteximg.com.br/arquivos/floater-whatsapp-sem-texto-mobile.png"
    data-color-transform=""
    data-floater-align="right">
</cea-floater>
</body>
</html>
