.dropdown,
.dropdown__department {
  align-items: center;
  display: flex;
  height: 48px;
}

.dropdown {
  display: none;
  font-family: var(--FONT-FAMILY-SECONDARY);
  justify-content: space-around;
  position: relative;
  width: 100%;
}

@media (min-width: 1024px) {
  .dropdown {
    display: flex;
  }

  .dropdown + .dropdown {
    display: none;
  }
}

.dropdown__department {
  border-bottom: 2px solid transparent;
  color: #212b36;
  font-family: var(--FONT-FAMILY-SECONDARY-BOLD);
  font-size: 14px;
  text-decoration: none;
  white-space: nowrap;
}

.dropdown__department.flag::after {
  align-items: center;
  background: #ff5630;
  border-radius: 4px;
  color: #fff;
  content: 'novo';
  display: inline-flex;
  font-family: var(--FONT-FAMILY-SECONDARY);
  font-size: 12px;
  height: 16px;
  justify-content: center;
  line-height: 1;
  margin-left: 4px;
  width: 36px;
}

.dropdown__menu {
  background-color: #fff;
  box-shadow: 0 9999px 0 9999px rgba(0, 0, 0, 0.4);
  display: none;
  flex-direction: column;
  height: 448px;
  left: 0;
  line-height: 32px;
  max-width: 1200px;
  min-width: 1024px;
  overflow: hidden;
  padding: 16px;
  position: absolute;
  width: 100%;
}

.dropdown__menu::before {
  background-color: var(--COLOR-SNOW);
  content: '';
  height: 100%;
  left: 180px;
  position: absolute;
  top: 0;
  width: 1px;
}

.dropdown__item:hover .dropdown__menu,
.dropdown__item:hover .dropdown__marcas {
  display: flex;
}

.dropdown__item:hover .dropdown__department {
  border-bottom-color: var(--COLOR-CEA-LIGHTER);
  color: var(--COLOR-CEA-LIGHTER);
  font-family: var(--FONT-FAMILY-SECONDARY-BOLD);
}

.dropdown__item:last-child .dropdown__department,
.dropdown__item:first-child .dropdown__department {
  color: #e95e9c;
}

.dropdown__item:hover:last-child .dropdown__department,
.dropdown__item:hover:first-child .dropdown__department {
  border-color: #e95e9c;
}
