<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <script>
      const skuJson = {
        productId: 2323693,
        name: "Blusa Feminina One Shoulder um Ombro Só Off White",
        skus: [
          {
            image: "https://cea.vteximg.com.br/arquivos/ids/15608714-450-540/Blusa-Feminina-One-Shoulder-um-Ombro-So-Off-White-9946990-Off_White_1.jpg"
          }
        ]
      }
    </script>
  </head>
<body>
  <noscript>You have to load the page with JavaScript disabled to see this message.</noscript>
  <!-- Pixel APP here -->
  <cea-review-prior></cea-review-prior>
  <cea-review></cea-review>
</body>
</html>
