.bag {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding-right: 16px;
}

@media (min-width: 1024px) {
  .bag { padding: 0; }
}

.bag__link {
  display: block;
  height: 20px;
  position: relative;
  text-indent: -9999px;
  width: 20px;
}

.bag__link::before {
  background-color: var(--COLOR-ORANGE);
  border-radius: 2px;
  box-sizing: border-box;
  color: #FFF;
  content: attr(data-count);
  font-size: 10px;
  line-height: 14px;
  max-width: 16px;
  min-width: 14px;
  overflow: hidden;
  position: absolute;
  right: -9px;
  text-align: center;
  text-indent: 0;
  top: -7px;
}

@media (min-width: 1024px) {
  .bag__link { margin-top: 2px; }
}
