.glossary {
  background-color: #F9FAFC;
}

.glossary__container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 24px 8px;
}

.glossary__title {
  color: #212B36;
  font-family: var(--FONT-FAMILY-SECONDARY);
  font-size: var(--FONT-SIZE-DISPLAY-SMALL);
  margin-bottom: 10px;
}

.glossary__nav {
  width: 100%;
}

.glossary__list {
  display: inline-block;
  margin: -4px;
  text-align: justify;
}

.glossary__alphabet,
.glossary__numbers {
  display: inline-block;
  margin: 8px;
}

.glossary__alphabet::after {
  background-color: #BBC7DC;
  border-radius: 4px;
  content: '';
  display: inline-block;
  height: 4px;
  margin: 0 0 3px 7px;
  width: 4px;
}

.glossary__letter,
.glossary__ordenation {
  color: #212B36;
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  height: 48px;
  line-height: 48px;
  text-align: center;
  text-decoration: none;
  width: 48px;
}

.glossary__letter:hover,
.glossary__ordenation:hover {
  color: var(--COLOR-CEA-LIGHTER);
  text-decoration: underline;
}

@media (min-width: 768px) {
  .glossary__container {
    align-items: flex-start;
    padding: 24px 12px;
  }
}

@media (min-width: 940px) {
  .glossary__title {
    margin: 0;
    width: 141px;
  }

  .glossary__nav {
    width: auto;
  }

  .glossary__letter,
  .glossary__ordenation {
    height: unset;
    line-height: unset;
    text-align: left;
    width: unset;
  }

  .glossary__container {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .glossary__alphabet,
  .glossary__numbers {
    margin: 4px;
  }
}
