<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <noscript>You have to load the page with JavaScript disabled to see this message.</noscript>
  <!-- Pixel APP here -->
  <cea-megafooter data-text-disclaimer="
  *Promoções válidas enquanto durarem os estoques, em itens selecionados. Saiba o regulamento de cada campanha e ação promocional na vitrine específica da promoção. Todas as comunicações do site podem possuir imagens meramente ilustrativas e podem ser encerradas a qualquer momento. Os preços poderão variar durante a navegação, sem aviso prévio. Pode também ocorrer divergência entre o preço exibido no detalhe do produto e o preço apresentado no carrinho de compras. Em caso de divergências de preços, o valor válido será o do carrinho de compras.
  <br/>
  **Retire suas compras realizadas pelo APP e site da C&A em até 3 horas utilizando a modalidade de entrega Clique e Retire. O prazo de retirada é valido para compras aprovadas até as 17h00. Compras aprovadas após as 17h00 poderão ser retiradas no dia seguinte, após abertura da loja escolhida. Prazo de entrega válido para produtos disponíveis na loja selecionada. Consulte disponibilidade e prazos antes de concluir sua compra. O serviço em loja e o horário de abertura podem variar considerando os protocolos e regras locais para combate ao COVID-19. Válido para produtos vendidos e entregues pela C&A, estando excluídos os produtos de lojas parceiras vendidos pelo Marketplace."></cea-megafooter>
</body>
</html>
