<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no' />
    <meta name="theme-color" content="#1A1A1A">
    <script>
      window.StanLee = {
        search: {
          engine: 'rr'
        }
      }
    </script>
  </head>
  <body>
    <noscript>You have to load the page with JavaScript disabled to see this message.</noscript>
    <!-- Pixel APP here -->
    <cea-megaheader
      data-text-alert='COVID-19 – O tempo de resposta do SAC está maior que o normal. Estamos trabalhando para reduzir o prazo o mais rápido possível.'
      data-link-alert='https://www.cea.com.br'
      data-id-alert='covid-19.v31'
      data-engine='mais'
    >
    </cea-megaheader>

    <cea-lojinha data-engine='mais'></cea-lojinha>
    
  </body>
</html>
